<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Stock Expert - DataTable</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"> -->
	<!-- <script src="{{ url_for('static', filename='js/jquery-1.8.1.min.js') }}"></script> -->
	<!-- <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script> -->
	
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
	<style>
		.navbar{
			background-color:#337ab7;
			color:#fff;
		}
		a{
			color:#fff;
		}
		.active, .active>a{
			color:#337ab7;
			background-color:#fff;
		}
		p{
			text-align:justify;
		}
		.table{
			font-size:12px;
			margin-bottom:0px;
		}
	</style>
</head>
<body>

	<nav class="navbar navbar navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Estimates Portal</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a>Competitor Analisys</a></li>
				<li><a>Company Data</a></li>
				<li class="active"><a>My Estimates</a></li>
				<li><a>Inputs</a></li>
			</ul>
		</div>
	</nav>
	<div class="wrapper" style="margin-top:50px">
		{% block content %}{% endblock %}	
	</div>
</body>
</html>